<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <ion-card>
    <ion-card-header>
      
      <ion-card-subtitle>Perfil</ion-card-subtitle>
      <ion-card-title>{{ usuario1 }} Completa tus datos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    <ion-input placeholder="Nombre" type="text" minlength="4" maxlength="12"
      [(ngModel)]="nombre"></ion-input>

      <ion-input placeholder="Apellido" type="text" minlength="4" maxlength="12"
        [(ngModel)]="apellido"></ion-input>

        <ion-input placeholder="Correo" type="text" minlength="4" maxlength="12"
          [(ngModel)]="correo"></ion-input>

          <ion-input placeholder="Telefono" type="text" minlength="4" maxlength="12"
            [(ngModel)]="telefono"></ion-input>
    </ion-card-content>
  </ion-card>


  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="fullgohome()" color="success">Registrar</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button expand="block" [routerLink]="['/home']">En otro momento</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
