<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title>{{ usuario1 }} Completa tus datos</ion-title>
  
  <ion-item lines="full">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input placeholder="nombre" type="text" minlength="4" maxlength="12"
      [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Apellido</ion-label>
    <ion-input placeholder="apellido" type="text" minlength="4" maxlength="12"
      [(ngModel)]="apellido"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Correo</ion-label>
    <ion-input placeholder="correo" type="text" minlength="4" maxlength="12"
      [(ngModel)]="correo"></ion-input>
  </ion-item>
  
  <ion-item lines="full">
    <ion-label position="floating">Telefono</ion-label>
    <ion-input placeholder="telefono" type="text" minlength="4" maxlength="12"
      [(ngModel)]="telefono"></ion-input>
  </ion-item>



  <ion-row>
    <ion-col>
      <ion-button expand="full" (click)="fullgohome()">Registrar</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button expand="full" [routerLink]="['/home']">En otro momento</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
