<ion-header [translucent]="true">
  <ion-toolbar>
    <h2>login</h2>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <img alt=" " src="assets/images/bg-log.png" />
    <ion-card-header>
      <ion-card-title>Comencemos</ion-card-title>
      <ion-card-subtitle>Ingressa un nombre de usuario</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label position="floating"></ion-label>
      <ion-input placeholder="usuario" type="text" minlength="3" maxlength="8" [counter]="true"
        [(ngModel)]="usuario"></ion-input>
        <ion-label position="floating"></ion-label>
        <ion-input placeholder="password" type="Password" minlength="6" maxlength="6" [counter]="true"
        [(ngModel)]="pass"></ion-input>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col>
    <ion-button expand="block" color="success" (click)="ingresarlog()">Ingresar</ion-button>
     <ion-button expand="block" (click)="ingresar()">Ingresar</ion-button>
     <!--<ion-button expand="full" [routerLink]="['/home']">Home</ion-button>--->
      <!--<ion-button expand="full" (click)="ingresarlog()">Ingresar log</ion-button>--->
     
    </ion-col>
  </ion-row>




  <ion-item lines="full">
</ion-item>
  <!---<ion-item lines="full">
    <ion-label position="floating">Usuario</ion-label>
    <ion-input placeholder="usuario" type="text" minlength="3" maxlength="8" [counter]="true"
      [(ngModel)]="usuario"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Password</ion-label>
    <ion-input placeholder="password" type="Password" minlength="6" maxlength="6" [counter]="true"
      [(ngModel)]="pass"></ion-input>
  </ion-item>--->
 
  

</ion-content>